@charset "UTF-8";

/* 
 Typical Device Beakingpoints
-------------------------------
Pequenas Telas: Até 600px
Celular: De 600px até 768px
Tablet: 780px até 992px
Desktop: 992px até 1200px
Grandes Telas: Acima de 1200px 
-------------------------------
*/

@media screen and (min-width:768px) and (max-width:992px){
    body{
        background-image: linear-gradient(to bottom, #5f2c82, #49a09d);
    }
    main{
        width: 70vw;
        height: 330px;
    }
    #imagem{
        float: left;
        width: 50%;
        height: 100%;
    }
    #formulario{
        float: right;
        width: 50%;
        height: 100%;
    }
    p{
        text-align: center;
    }
    .botao{
        width: 240px;
    }
    .campo{
        width: 240px;
        margin: auto;
        margin-bottom: 8px;
    }
}

@media screen and (min-width: 992px){
    body{
        background-image: linear-gradient(to bottom, #49a09d, #5f2c82);
    }
    main{
        width: 75vw;
        height: 330px;
    }
    #imagem{
        float: right;
        width: 50%;
        height: 100%;
    }
    #formulario{
        float: left;
        height: 100%;
        width: 50%;
    }
    .botao{
        width: 240px;
        display: block;
        margin: auto;
        margin-bottom: 5px;
    }
    .campo{
        width: 240px;
        margin: auto;
        margin-bottom: 8px;
    }
}